.promo {
    opacity: 100%;

    @include griding(1fr, 55% 45%);
    margin-top: 2.2rem;
    height: 100%;

    .banner {
        position: relative;

        .img-social {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .title {
            height: 50%;
            padding-bottom: 2rem;
        }

        .description-container {
            position: absolute;
            top: 0px;
            bottom: 0px;
        }
    }

    .enunciate-container {
        padding: 1rem 4rem;

        .promo-enunciate {
            text-align: center;
            line-height: 3.5rem;
            font-size: 3.05rem;
        }
    }

}