.socialmedia-container {
    height: 50%;
    padding: 1.2rem 0;

    .socialmedia-description {
        height: 25%;
        width: 100%;

        @include griding(1fr, 6fr 7.5fr);

        .icon {
            height: 100%;
            padding-right: 1rem;
        }

        .name {
            height: 100%;
            font-size: 1.35rem;
        }
    }

    .btn-container {
        height: 50%;
        width: 100%;
        .follow-btn {
            width: 62%;
            height: 3.9rem;
            font-size: 1.4rem;
        }
    }

}