//For Mockup

.component {
    background-color: rgb(235, 235, 255);
    padding: 5rem;
    border: 2px solid;
}

.bg-1 {
    background-color: rgb(255, 220, 220);
}

.bg-2 {
    background-color: rgb(199, 199, 255);
}

.bg-3 {
    background-color: rgb(220, 255, 226);
}

.bg-4 {
    background-color: rgb(255, 199, 232);
}





//FlexBox

$flex-direction-values: (row, column, row-reverse, column-reverse);
$justify-content-values : (flex-start, center, flex-end, space-around, space-between);
$align-items-values : (flex-start, center, flex-end);

@each $directionValue in $flex-direction-values {
    @each $justifyValue in $justify-content-values {
        @each $alignValue in $align-items-values {
            .#{$directionValue}-#{$justifyValue}-#{$alignValue} {
                @include flexThis($directionValue, $justifyValue, $alignValue);
            }
        }
    }
}


//Text

// 'fw' font-weight
@each $name,
$weight in $font-weights {
    .#{$name} {
        font-weight: $weight;
    }
}

// 'fc' font-color
@each $name,
$color in $colors {
    .fc-#{$name} {
        color: $color;
    }
}

// 'fs' font-size

@each $name,
$size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}




//Assets
//Buttons

$button-styles: ('normal', 'outline');

@each $style in $button-styles {

    @each $name,
    $color in $colors {
        .btn-#{$name}-#{$style} {
            @include stylizeButton($style, $color);
        }
    }
}