html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: $font-size-main; //Cambiar con media queries
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
    transition: $transition-main;
    outline: none;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

a,
p,
h1,
h2,
h3,
h4 {
    color: $xy-dark;
    text-decoration: none;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}