html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: $font-size-main; //Cambiar con media queries
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
    color: $wolox-dark;
    transition: $transition-main;
    outline: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}