.input-container {
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;

    * {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }

    .input {
        max-height: 55px;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $xy-gray;
        outline: 0;
        padding: 10px 0 1px 0;
        background: transparent;

        &::placeholder {
            font-size: 0.4em;
            font-weight: 300;
        }

        &:placeholder-shown~label {
            cursor: text;
            top: 8px;
        }
    }

    .label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
    }

    @each $name,
    $color in $colors {
        @if $name=='error' {
            .input-#{$name} {
                ~.label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-size: 0.8em;
                    color: $color;
                    font-weight: 700;
                }

                font-weight: 600;
                padding-bottom: 4px;
                border-width: 2px; //3px
                border-color: $color;
                border-image-slice: 1;
            }
        }

        @else {
            .input-#{$name}:focus {

                ~.label {
                    font-size: 0.8em;
                    color: $color;
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-weight: 600;

                }

                font-weight: 500;
                padding-bottom: 4px;
                border-width: 2px; //3px
                border-color: $color;
                border-image-slice: 1;
            }
        }
    }

    .input {

        &:required,
        &:invalid {
            box-shadow: none;
        }
    }
}