.landing {
    .hero {
        margin-bottom: 4.7rem;
    }

    .benefits {
        margin-top: 1rem;
    }

    .footer {
        height: 80vh;

        @include media('<=tablet'){
            height: 83vh;
        }
    }
}