.tech-list {
    width: 100%;

    @include griding(40vh 70vh, 1fr, 0);

    @include media('<=tablet') {
        @include multiplyFontSize(0.7);
        @include griding(60vh 70vh, 1fr);
    }


    .navbar {
        .container {
            @include flex(row, space-between, center);

            .favs-container {
                min-width: 5rem;
                margin-right: 2rem;
                transition: .2s;

                @include media('<=tablet') {
                    align-items: center;
                }

                .menu-launcher {
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }


                .favs-amount {
                    position: absolute;
                    height: 1.3rem;
                    width: 1.3rem;
                    position: absolute;
                    margin-top: 1rem;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.911);
                    font-size: 60%;
                    cursor: pointer;

                    @include media('<=tablet') {
                        margin-left: 2rem;
                    }
                }

                .likes-container {
                    position: absolute;
                    padding: 3px;
                    top: 60%;
                    margin-top: 1rem;
                    border: 2px solid $xy-blue;
                    border-radius: 1vh;
                    background-color: white;
                    @include boxShadow();

                    @include media('<=tablet') {
                        top: 30%;
                    }

                    .like-description {
                        width: 100%;
                        transition: all 0.5s;
                        position: relative;
                        padding: 15px;
                        background-color: white;
                        border-bottom: 1px solid whitesmoke;

                        .closebtn {
                            margin-left: 15px;
                            font-weight: bold;
                            float: right;
                            font-size: 22px;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover {
                                color: $xy-dark;
                            }
                        }

                        .heart-icon {
                            margin-left: 3rem;
                        }
                    }

                }


            }
        }
    }

    .searchBar,
    .list {
        width: 100%;
        padding: 2rem 6rem;

        @include media('<=laptop') {
            padding: 2rem 1rem;
        }

        @include media('<=phone') {
            padding: 2rem 2rem;
        }
    }


    .searchBar {

        .input {
            font-weight: 400;
        }

        .listSelect {
            margin-left: 1rem;
        }

        @include media('<=tablet') {
            margin-top: 5rem;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .input,
            .listSelect {
                width: 100%;
                padding: 0 1rem;
                height: 100%;
                margin: 0;

                @include media('<=tablet') {
                    margin-bottom: 1rem;

                }

            }

            @include media('<=phone') {
                justify-content: flex-start;
            }


        }
    }

    .list {

        @include media('<=tablet') {
            .descriptions {
                display: none;
            }
        }

        .descriptions {
            list-style: none;
            text-align: center;

            li {
                width: 100%;
            }
        }

        .dataPanel {
            border-bottom: 1px solid $xy-gray;

            .btn-like {
                transition: .2s;

                &:hover {
                    transform: scale(1.5);
                    color: $xy-blue;
                }
            }

            .inset-description {
                display: none;

                @include media('<=tablet') {
                    display: flex;
                }
            }

            .tech-row {
                @include media('<=tablet') {
                    @include griding(1fr, 1fr 5fr);
                    border-top: 1px solid $xy-gray;
                }
            }

            ul {
                width: 100%;
                height: 100%;
                min-height: 5rem;
                list-style: none;
                text-align: center;
                border-bottom: 1px solid $xy-gray;

                @include media('<=tablet') {
                    flex-direction: column;
                }

                li {
                    height: 100%;
                    width: 100%;
                    padding: 1rem 0;

                    @include media('<=tablet') {
                        width: 50%;
                    }

                    span {
                        justify-content: center;
                    }

                    img {
                        width: 30%;
                        max-width: 3rem;
                    }
                }
            }
        }

        .results-amount {
            padding: 5rem 0;
            width: 100%;
            height: 10%;
            top: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            align-self: center;
        }

    }



}