@font-face {
    font-family: 'Montserrat';
    src: url("../../Assets/Fonts/Montserrat-Light.woff2") format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../Assets/Fonts/Montserrat-Regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../Assets/Fonts/Montserrat-Medium.woff2") format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../Assets/Fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../Assets/Fonts/Montserrat-Bold.woff2") format('woff2');
    font-weight: 700;
    font-display: swap;
}