.hero {
    background-image: url('../../Assets/Backgrounds/Bg_Header.svg');
    @include bgImageOptions();

    @include media ('<=laptop') {
        @include bgImageOptions(contain, repeat);
    }
}

.hero .container {
    @include griding(1fr, 1fr 1fr);
    padding: 0 6rem;
    height: 95vh;
    max-width: 100vw;

    .title-container {
        width: 100%;
        height: 100%;
        .title {
            width: 90%;
            margin: 2.4rem 0 0 0rem;
        }
    }

    .img-container {
        height: 100% !important;
        width: 100%;

        @include media('<=tablet'){
            align-items: flex-end;
        }

        img {
            margin: 9rem 2rem 0rem 1rem;
            max-width: 35rem;      
        }

    }

    @include media("<=desktop") {
        padding: 0rem 4rem;
        margin-top: 3rem;

        .title-container .title {
            width: 100%;
        }

        .img-container {
            justify-content: flex-end;
            width: 100%;

            img {
                width: 100%;
                margin: 0 0 1rem 0;
            }
        }
    }

    @include media(">tablet", "<=laptop") {
        padding: 0rem 2rem;
        @include griding(1fr, 1fr 1fr);

        .img-container {
            align-items: center;

            img {
                margin-top: 4rem;
            }
        }

    }

    @include media("<=tablet") {
        @include griding(.4fr .5fr, 1fr);
        @include multiplyFontSize(0.8);

        padding: 3rem;
        margin-top: 2rem;

        height: 100%;
        text-align: center;

        .title-container .title {
            margin: 0;
            padding: 0;
        }

        .img-container {
            justify-content: center;

            img {
                margin-top: 0;
            }
        }
    }

    @include media("<=phone") {

        height: 100vh;
        width: 100%;
        @include griding(1fr 1.5fr, 1fr);
        @include multiplyFontSize(0.6);


        .title-container {
            padding: 2rem 2rem;
        }

        .img-container {
            width: 100vw;
            background-image: url('../../Assets/Img-Hero/Ic_ilustra_Hero.svg');
            @include bgImageOptions(contain, no-repeat);

            img {
                display: none;
            }
        }
    }

}