.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
    transition: all .3s;
}

.nav-scrolled {
    background-color: white;
    @include boxShadow(1);
    transition: all .3s;
}

.nav-hided {
    transition: all .3s;
    top: -150%;

}

#container-scrolled {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: all 0.3s;
}

.navbar .container {
    @include griding(1fr, 60% 40%);

    padding: 4rem 6rem;
    transition: all 0.3s;

    .logo-container {
        height: 100%;

        img {
            width: 5rem;
            max-width: 5rem;
        }

        .menu-launcher {
            display: none;
            transition: all 0.3s;
            z-index: 6;
            min-width: 2rem;
            background-color: rgba(255, 0, 0, 0);
            border-style: none;

            &:hover {
                &:active {
                    align-self: flex-start;
                    color: $xy-blue;
                    transform: scale(1.5) rotate(180deg);
                    opacity: 0;
                }
            }

        }
    }

    ul {
        padding: 0 1rem;
        height: 100%;
        list-style-type: none;
        transition: all .3s;
        opacity: 1;

        .navbar-name {
            &:hover {
                color: $xy-blue;
            }
        }

        a:hover {
            color: $xy-blue;
        }
    }

    .hidden-menu-logo {
        display: none;

    }

    @include media('<=tv') {
        @include griding(1fr, 1fr 1fr);

        ul .reg-btn {
            margin-left: 0;
            width: 100%;
        }
    }

    @include media('<=desktop') {
        padding: 2rem 4rem;
        @include griding(1fr, 50% 50%);

        ul {
            justify-content: space-between;
            padding: 0;
        }
    }

    @include media('<=laptop') {
        padding: 2rem 2.2rem;
        @include griding(1fr, 45% 55%);
        @include multiplyFontSize(0.8);

        .logo-container {
            img {
                width: 10rem;
            }

        }

        ul {
            justify-content: space-around;
            padding: 0;

            li button {
                width: 10rem;
            }
        }
    }

    @include media('<=tablet') {
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        @include multiplyFontSize(1.3);

        .logo-container {
            padding: 0 1.7rem;
            width: 100%;

            img {
                width: 30%;
            }

            .menu-launcher {
                display: flex;
            }
        }

        ul {
            height: 100vh;
        }


        .menu-launched {
            transition: all .3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5rem 0 13rem 0;

            background-color: white;
            width: 100%;

            li {
                padding: 1rem 0;
            }

            .reg-btn {
                width: 100%;
                @include multiplyFontSize(1.3);
            }

            .hidden-menu-logo {
                display: flex;
                position: absolute;
                bottom: 10%;
                width: 20%;

                img {
                    width: 100%;
                }
            }

        }

        .menu-hided {
            opacity: 0;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            top: -200%;
            transition: all .32;
            height: 1vh;

        }
    }

    @include media ('<=phone') {
        .logo-container {
            img {
                width: 15%;
                min-width: 2rem;
            }
        }
    }
}