//For Mockup

.component {
    border: 2px solid;
}

.bg-1 {
    background-color: rgb(255, 210, 210);
}

.bg-2 {
    background-color: rgb(185, 185, 255);
}

.bg-3 {
    background-color: rgb(197, 255, 207);
}

.bg-4 {
    background-color: rgb(255, 226, 145);
}
